/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 25px;
    color: white;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
}

.logo-e-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

/* Container da logo */
.logo-container {
    display: flex;
    align-items: center;
}

/* Estilo da logo */
.logo {
    width: 150px;
    height: auto;
}

/* Estilo da navegação */
.nav-links {
    display: flex;
    gap: 18px;
    flex: 2;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: #422605;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-links a:hover {
    color: #5cb3fa;
    text-shadow: 0 0 5px #5cb3fa;
}

.espaco-vazio {
    flex: 1;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #422605;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffffff;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
        gap: 1rem;
        display: none;
        z-index: 1000;
    }

    .nav-links.ativo {
        display: flex;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .espaco-vazio {
        display: none;
    }

    .header {
        flex-wrap: wrap;
        height: auto;
    }

    .logo {
        width: 130px;
    }
}
