.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  .tudo input {
    width: 95%;
    padding: 1rem;
    margin-bottom: 20px;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    font-size: 1rem;
    background: #fff;
    transition: all 0.3s ease;
  }
  
  .tudo button {
    background-color: #f4a460;
    color: #fff;
    padding: 1rem 2rem;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .tudo button:hover {
    background-color: #e9967a;
  }
  
  .link {
    margin-top: 16px;
  }
  
  .form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
